@model TimeToWork.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h1>Редагувати запис</h1>
        <hr />
        <form asp-action="Edit" class="d-grid gap-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentId" />
            @*<div class="form-group">
                Послуга
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                Клієнт
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Послуга</label>
                @*<select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId">
                <option value="">-- Select Service --</option>
                </select>*@

                <select id="lstServiceId" asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId" onchange="FillServiceProvider(this, 'lstServiceProvider');"></select>
                <span asp-validation-for="ServiceId" class="text-danger" />
            </div>

            <div class="form-group">
                <label class="control-label">Виконавець</label>

                <select id="lstServiceProvider" asp-for="ServiceProviderID" class="form-control" asp-items="ViewBag.ServiceProviderID"></select>
                <span asp-validation-for="ServiceProviderID" class="text-danger" />
            </div>
            <div class="form-group">
                Дата
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="row mt-2">
                <div class="col-md-6 ">
                    <a asp-action="Index" class="btn btn-warning w-100">
                        <span style="margin-right:10px">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
								<path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
							</svg>
						</span>
						Назад до списку
                    </a>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <input type="submit" value="Зберегти" class="btn btn-success w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    function FillServiceProvider(lstServiceCtrl, lstServiceProviderId) {
        var lstServiceProvider = $("#" + lstServiceProviderId);
        lstServiceProvider.empty();

        //lstServiceProvider.append($('<option/>',{
        //	value: null,
        //	text: "Обрати виконавця"
        //}));

        var selectedService = lstServiceCtrl.options[lstServiceCtrl.selectedIndex].value;

        if (selectedService != null && selectedService != '') {
            $.getJSON('@Url.Action("GetServiceProviderByService")', { serviceId: selectedService }, function (serviceProviders) {
                if (serviceProviders != null && !jQuery.isEmptyObject(serviceProviders)) {
                    $.each(serviceProviders, function (index, serviceProvider) {
                        lstServiceProvider.append($('<option/>', {
                            value: serviceProvider.value,
                            text: serviceProvider.text
                        }));
                    });
                };
            });
        };
    }

</script>
